apiVersion: v1
kind: Service
metadata:
  name: ml-inference
spec:
  type: NodePort         # <-- change from ClusterIP to NodePort
  selector:
    app: ml-inference
  ports:
    - port: 8001
      targetPort: 8001
      nodePort: 30081    # optional, or let Kubernetes assign
