apiVersion: v1
kind: Service
metadata:
  name: ml-inference
spec:
  selector:
    app: ml-inference
  ports:
    - protocol: TCP
      port: 8001
      targetPort: 8001
      nodePort: 30081    
  type: NodePort          
